.scores {
    display: flex;
    justify-content: space-around;
}

.score {
    border: 2px solid #000;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
